@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background-color: #f3faf4;
}

a{
  text-decoration: none;
  color: inherit;
}

/* CSS For App.jsx */
.app{
  width: 80%;
  margin: auto; 
}


/* Fade-In Key Frames */
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}